.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 56px;
    margin-bottom: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--speed::before {
    background-image: url("../../icons/stack.svg#speed-icon");
  }

  &--fit::before {
    background-image: url("../../icons/stack.svg#fit-icon");
  }

  &--energy::before {
    background-image: url("../../icons/stack.svg#energy-icon");
  }

  &--eco::before {
    background-image: url("../../icons/stack.svg#eco-icon");
  }

  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    position: relative;
    padding-left: 72px;
    align-items: flex-start;

    &::before {
      position: absolute;
      left: 0;
      top: 4px;
    }

    &--fit::before,
    &--energy::before {
      top: 0;
    }
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 4px;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    margin-bottom: 10px;
    text-align: left;
  }
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
