.main-footer {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  padding-bottom: 30px;

  @media (max-width: 319px) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 40px 20px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-footer__logo {
  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    align-items: flex-start;
  }
}

.main-footer__logo img {
  width: 82px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 317px 318px 317px;
    margin-bottom: 20px;
    margin-top: 9px;
  }
}

.main-footer__author-link {
  margin: 0;
}
