.page {
  min-height: 100%;
  display: flex;
}

.page__body {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: $base-black;
  min-width: 320px;
}

.page__main {
  flex-grow: 1;
}
