.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination--first-page .pagination__link--back {
  @media (min-width: $tablet-width) {
    visibility: hidden;
  }
}

.pagination--last-page .pagination__link--forward {
  @media (min-width: $tablet-width) {
    visibility: hidden;
  }
}

.pagination__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: $base-primary;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  &--current {
    color: $base-black;
    font-weight: 600;
    background-color: transparent;
    cursor: text;
  }

  &--back::after,
  &--forward::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url("../../icons/stack.svg#select-arrow");
    margin-top: 1px;
  }

  &--back::after {
    transform: rotate(90deg);
  }

  &--forward::after {
    transform: rotate(-90deg);
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }

    &--back,
    &--forward {
      padding: 8px 20px;
    }
  }
}

.pagination__link span {
  @media (max-width: calc($tablet-width - 1px)) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
