.product {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 141px;
  column-gap: 20px;
  border-radius: 4px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 30px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    transition: box-shadow 0.3s;

    &:hover,
    &:focus-within {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.product__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.product__title {
  margin: 0;
}

.product__link {
  color: $base-black;
  text-decoration: none;
  grid-column: 1/3;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    &:focus {
      outline: none;
    }
  }
}

.product__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  grid-column: 1/3;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  margin: 0;
  margin-left: -2px;
}

.product__to-basket {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  display: flex;
  background-color: $base-primary;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-gray;
  }

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#basket");
    width: 20px;
    height: 16px;
  }
}
