.slider-pagination {
  justify-content: center;
  gap: 8px;
}

.slider-pagination__button {
  width: 62px;
  height: 4px;
  background-color: #ffffff;
  cursor: pointer;
  transition-duration: 0.3s;
  border: none;

  &:hover {
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $base-primary;
  }

  &--current,
  &--current:hover,
  &--current:active {
    background-color: $base-primary;
  }

  &:focus-visible {
    background-color: $primary-opacity;
    outline: none;
  }
}
