.social {
  width: 100%;
  padding: 20px calc((100vw - 280px)/2);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $base-secondary;

  @media (max-width: 319px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 318px;
  }
}

.social__list {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.social__link {
  min-width: 40px;
  min-height: 40px;
  color: $base-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active {
    color: $base-primary;
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }

  &:active {
    background-color: $primary-opacity;
  }
}
